<?xml version="1.0" encoding="UTF-8"?>
<config>
    <mainClass>GeneralAgent</mainClass>
    <agentAmount>2</agentAmount>

    <excelPath name='AMAAgent'>None</excelPath>
    <corpusPath name='AMAAgent'>corpora/ama.txt</corpusPath>
    <indexPath name='AMAAgent'>resources/whooshIndexes/ama</indexPath>
    <labelsPath name='AMAAgent'>corpora/AMAlabels.txt</labelsPath>

    <excelPath name='AntiCovidAgent'>corpora/bot-FAQ.xlsx</excelPath>
    <corpusPath name='AntiCovidAgent'>corpora/covid.txt</corpusPath>
    <indexPath name='AntiCovidAgent'>resources/whooshIndexes/covid</indexPath>
    <labelsPath name='AntiCovidAgent'>corpora/covidLabels.txt</labelsPath>


    <threshold>0.35</threshold>
    <useWhoosh>true</useWhoosh>
    <stopwords>resources/stopwords/edgar_stop.txt</stopwords>
</config>
