<?xml version="1.0" encoding="UTF-8"?>
<config>
    <mainClass>CosineAgent</mainClass>
    <agentAmount>3</agentAmount>
    <stopwords>resources/stopwords/edgar_stop.txt</stopwords>
    <useWhoosh>true</useWhoosh>
    <variedParameters>questionSimValue,answerSimValue</variedParameters>

    <questionSimValue>0.5,0.75,1</questionSimValue>
    <answerSimValue>0.5,0.25,0</answerSimValue>
</config>
